/* Footer.css */

.footer-container {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
  }
  
  .footer-container a {
    color: #61dafb;
    text-decoration: none;
  }
  
  .footer-container a:hover {
    text-decoration: underline;
  }
  