/* src/styles/Slider.css */
.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slide-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
  }
  
  /* Navigation arrows */
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    cursor: pointer;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .arrow.left {
    left: 0;
  }
  
  .arrow.right {
    right: 0;
  }

  .slider-image {
    min-height: 800px;
    height: 50%;
    max-width: 1200px;
    width: 100%;

  }
  